.center-box {
  display: flex;
  background-color: white;
  padding:43px 32px 84px 68px;
  margin: 10%;
}

.meeting-title{
  font-size: 1.625rem;
  text-align: center;
}

.main-container{
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 7em; /* height of your footer */
}
