/* You can add global styles to this file, and also import other style files */
html, body{
  background-color: #D7DADE ;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
}
@media (min-width: 375px) and (max-width: 768px) {
  .center-box {
    margin: 0 !important;
  }
}

@media (max-width: 375px) {
  .center-box{
    margin: 0 !important;
    padding: 1em !important;
  }
}
